:root {
    --swiper-pagination-bullet-inactive-color:#ececec;
    --swiper-pagination-bottom: 150px;
    --swiper-pagination-bullet-active: #000000;
    
    --swiper-pagination-fraction{
        top: 30px;
    }
}

:root{
    @media screen and (max-width: 992px) {
        
    }

    @media screen and (max-width: 576px) {

        --swiper-pagination-bottom: 80px;

    }
}